* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Тень для текста на ярлыках тиров для лучшей читаемости */
.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* Стили для плавного появления/исчезновения модального окна */
#modal.hidden {
    opacity: 0;
    pointer-events: none;
}

#modal {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
}